<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Сторінка успішності студентів</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'templates/header_links.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% include 'templates/header.html' %}
  <main>
    <section>
      <h2>Вітаємо на сторінці успішності студентів!</h2>
      <p>Цей сайт розроблено для того, щоб відстежувати успішність студентів в вашому вищому навчальному закладі.</p>
      <p>На цій сторінці ви можете побачити успішність своїх студентів та керувати їхнім рейтингом.</p>
    </section>
    <section>
      <h2>Студенти</h2>
      <p>Тут ви можете переглянути списки студентів за групами та їхню успішність в певних предметах. Також можна внести зміни до оцінок студентів.</p>
      <ul>
        <li><a href="#">Група 1</a></li>
        <li><a href="#">Група 2</a></li>
        <li><a href="#">Група 3</a></li>
      </ul>
    </section>
    <section>
      <h2>Викладачі</h2>
      <p>Тут ви можете знайти список викладачів вашого навчального закладу та їхні контактні дані.</p>
      <ul>
        <li>Іванова Ірина Петрівна</li>
        <li>Петров Петро Іванович</li>
        <li>Сидоренко Олена Вікторівна</li>
      </ul>
    </section>
    <section>
      <h2>Рейтинг</h2>
      <p>Тут ви можете переглянути загальний рейтинг студентів за всіма предметами та за кожним окремим предметом.</p>
      <ul>
        <li><a href="#">Загальний рейтинг</a></li>
        <li><a href="#">Рейтинг за предметом 1</a></li>
        <li><a href="#">Рейтинг за предметом 2</a></li>
        <li><a href="#">Рейтинг за предметом 3</a></li>
      </ul>
    </section>
  </main>
  {% include 'templates/footer.html' %}
</body>
</html>