<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Сторінка студентів</title>
  {% include 'templates/header_links.html' %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/students.css') }}">
</head>
<body>
{% include 'templates/header.html' %}
  <main>
    {% for group_name, group in groups.items() %}
      <section>
        <h2>Група {{ group_name }}</h2>
        <table>
          <thead>
            <tr>
              <th>Студент</th>
              {% for subject_name in group['students'][0]['grades'].keys() %}
                <th>{{ subject_name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for student in group['students'] %}
              <tr>
                <td>{{ student['name'] }}</td>
                {% for grade in student['grades'].values() %}
                  <td>{{ grade }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
    {% endfor %}

  </main>
{% include 'templates/footer.html' %}
</body>
</html>
